
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.highlandweddingchapel\.com [NC]
RewriteRule ^(.*)$ https://highlandweddingchapel/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^www\.highlandsweddingchapel\.com [NC]
RewriteRule ^(.*)$ https://highlandweddingchapel/$1 [L,R=301]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
